.sidebar-icon {
    margin-left: 5px;
    color: #ffffff;
}

.accounting-icon {
    height: 6rem;
    width: 6.1rem;
    justify-content: center;
}

.sidebar {
    background: linear-gradient(180deg, #ac0707 10%, #690b1f 100%);
    background-size: cover;
}
.logo {
    height: 5rem;
    width: 5rem;
}
